Repository orange-cloudavenue/terraform-provider-cloudavenue, pull requests merged in 2023-03, with the labels that each got.

#125 feat(vdc): add data-source `cloudavenue_vdc_group`
  .golangci.yml
  docs/data-sources/vdc_group.md
  examples/data-sources/cloudavenue_vdc_group/data-source.tf
  internal/provider/provider.go
  internal/provider/vdc/vdc_group_datasource.go
  internal/tests/vdc/vdc_group_datasource_test.go
  templates/data-sources/vdc_group.md.tmpl
Labels: Feature, size/L, Fix, category/vdc

#126 feat(vm): Add resource `cloudavenue_vm_inserted_media`
  docs/resources/vm_inserted_media.md
  examples/resources/cloudavenue_vm_inserted_media/resource.tf
  internal/provider/provider.go
  internal/provider/vm/inserted_media_resource.go
  internal/tests/vm/inserted_media_resource_test.go
  templates/resources/vm_inserted_media.md.tmpl
Labels: Feature, size/XL, category/vm

#133 feat(catalog): Add datasource `cloudavenue_catalog_media`
  docs/data-sources/catalog_media.md
  examples/data-sources/cloudavenue_catalog_media/data-source.tf
  internal/provider/catalog/media_datasource.go
  internal/provider/provider.go
  internal/tests/catalog/media_datasource_test.go
Labels: Feature, size/L, category/catalog

#135 fix(vapp): bad import on org_network_resource if VDC is in the ID
  internal/provider/vapp/org_network_resource.go
  internal/tests/vapp/org_network_resource_test.go
Labels: Fix, size/S, category/vapp

#137 feat(edge): review id and name attributes
  docs/data-sources/edgegateway.md
  docs/data-sources/edgegateways.md
  docs/resources/edgegateway.md
  examples/data-sources/cloudavenue_edgegateway/data-source.tf
  examples/resources/cloudavenue_edgegateway/import.sh
  internal/provider/edgegw/edgegateway_datasource.go
  internal/provider/edgegw/edgegateway_resource.go
  internal/provider/edgegw/edgegateways_datasource.go
  internal/tests/edgegw/edgegateway_datasource_test.go
  internal/tests/edgegw/edgegateway_resource_test.go
  internal/tests/edgegw/edgegateways_datasource_test.go
Labels: Feature, size/L, category/edge

#145 ci: add VLAN to var-naming
  .golangci.yml
  internal/provider/vrf/tier0_vrf_datasource.go
Labels: CI, size/XS

#146 fix(publicip): edge_id is now a complete URN ID
  docs/resources/publicip.md
  examples/resources/cloudavenue_publicip/resource.tf
  internal/provider/publicip/publicip_resource.go
Labels: Fix, size/XS, category/publicip

#129 chore(client): Add version API of Vcloud Client
  internal/client/client.go
  internal/provider/provider.go
Labels: Chore, size/S, category/client

#147 feat(network): add resource cloudavenue_network_routed
  docs/resources/network_routed.md
  examples/resources/cloudavenue_network_routed/import.sh
  examples/resources/cloudavenue_network_routed/resource.tf
  internal/provider/network/base.go
  internal/provider/network/common_network.go
  internal/provider/network/routed_resource.go
  internal/provider/provider.go
  internal/tests/network/routed_resource_test.go
  templates/resources/network_routed.md.tmpl
Labels: Feature, size/XL, category/network

#155 docs: fix generated examples (terraform fmt)
  docs/data-sources/catalog_media.md
  docs/data-sources/catalog_vapp_template.md
  docs/data-sources/iam_group.md
  docs/data-sources/iam_role.md
  docs/data-sources/vdc_group.md
  docs/resources/iam_group.md
  docs/resources/iam_role.md
  docs/resources/vapp_org_network.md
  docs/resources/vm_disk.md
  docs/resources/vm_inserted_media.md
  examples/data-sources/cloudavenue_catalog_media/data-source.tf
  examples/data-sources/cloudavenue_catalog_vapp_template/data-source.tf
  examples/data-sources/cloudavenue_iam_group/data-source.tf
  examples/data-sources/cloudavenue_iam_role/data-source.tf
  examples/data-sources/cloudavenue_vdc_group/data-source.tf
  examples/resources/cloudavenue_iam_group/resource.tf
  examples/resources/cloudavenue_iam_role/resource.tf
  examples/resources/cloudavenue_vapp_org_network/resource.tf
  examples/resources/cloudavenue_vm_disk/resource.tf
  examples/resources/cloudavenue_vm_inserted_media/resource.tf
  internal/tests/iam/iam_role_datasource_test.go
  internal/tests/iam/iam_role_resource_test.go
  internal/tests/iam/iam_user_resource_test.go
Labels: size/L, Docs

#150 feat(vdc): add URN ID
  docs/data-sources/vdc.md
  docs/resources/vdc.md
  internal/provider/vdc/base.go
  internal/provider/vdc/vdc_datasource.go
  internal/provider/vdc/vdc_resource.go
  internal/tests/vdc/vdc_datasource_test.go
  internal/tests/vdc/vdc_resource_test.go
  internal/tests/vdc/vdcs_datasource_test.go
Labels: Feature, size/L, Fix, category/vdc

#158 feat(vapp): add `cloudavenue_vapp_acl` resource
  .gitignore
  docs/resources/vapp_acl.md
  examples/resources/cloudavenue_vapp_acl/import.sh
  examples/resources/cloudavenue_vapp_acl/resource.tf
  internal/provider/common/acl/acl.go
  internal/provider/common/vapp/vapp.go
  internal/provider/common/vdc/vdc.go
  internal/provider/common/vm/diskparams/bus_type.go
  internal/provider/provider.go
  internal/provider/vapp/acl_resource.go
  internal/tests/vapp/acl_resource_test.go
  templates/resources/vapp_acl.md.tmpl
Labels: Feature, size/XL, category/vapp

#157 feat(iam): Add datasource `cloudavenue_iam_right`
  docs/data-sources/iam_right.md
  examples/data-sources/cloudavenue_iam_right/data-source.tf
  internal/provider/iam/right_datasource.go
  internal/provider/provider.go
  internal/tests/iam/iam_right_datasource_test.go
Labels: Feature, size/L, category/iam

#154 feat(catalog): Add datasource `cloudavenue_catalog_medias`
  docs/data-sources/catalog_medias.md
  examples/data-sources/cloudavenue_catalog_medias/data-source.tf
  internal/provider/catalog/common_media.go
  internal/provider/catalog/media_datasource.go
  internal/provider/catalog/medias_datasource.go
  internal/provider/provider.go
  internal/tests/catalog/medias_datasource_test.go
Labels: Feature, size/L, category/catalog

#160 refactor(iam): rename func
  .golangci.yml
  docs/data-sources/catalog_medias.md
  docs/data-sources/iam_user.md
  examples/data-sources/cloudavenue_catalog_medias/data-source.tf
  internal/provider/iam/group_datasource.go
  internal/provider/iam/group_resource.go
  internal/provider/iam/right_datasource.go
  internal/provider/iam/role_datasource.go
  internal/provider/iam/role_resource.go
  internal/provider/iam/user_datasource.go
  internal/provider/iam/user_resource.go
  internal/provider/provider.go
  internal/tests/catalog/medias_datasource_test.go
  internal/tests/iam/iam_right_datasource_test.go
Labels: size/L, Refactor, category/iam

#161 fix: catch defer err
  internal/helpers/job.go
  internal/provider/edgegw/edgegateway_datasource.go
  internal/provider/edgegw/edgegateway_resource.go
  internal/provider/edgegw/edgegateways_datasource.go
  internal/provider/publicip/publicip_resource.go
  internal/provider/publicip/publicips_datasource.go
  internal/provider/vapp/acl_resource.go
  internal/provider/vdc/vdc_datasource.go
  internal/provider/vdc/vdc_resource.go
  internal/provider/vdc/vdcs_datasource.go
Labels: size/L, Fix

#156 feat(vdc): add resource `cloudavenue_vdc_acl`
  docs/resources/vdc_acl.md
  examples/resources/cloudavenue_vdc_acl/import.sh
  examples/resources/cloudavenue_vdc_acl/resource.tf
  internal/provider/provider.go
  internal/provider/vdc/acl_resource.go
  internal/tests/vdc/acl_resource_test.go
  templates/resources/vdc_acl.md.tmpl
Labels: Feature, size/XL, category/vdc

#162 refactor: add common acl func
  internal/provider/common/acl/acl.go
  internal/provider/vapp/acl_resource.go
  internal/provider/vdc/acl_resource.go
  internal/tests/vapp/acl_resource_test.go
Labels: size/L, Refactor

#164 refactor: use common vapp and vdc
  docs/data-sources/iam_group.md
  docs/data-sources/iam_role.md
  docs/data-sources/vapp.md
  docs/resources/edgegateway.md
  docs/resources/vapp.md
  docs/resources/vapp_acl.md
  docs/resources/vapp_isolated_network.md
  docs/resources/vapp_org_network.md
  docs/resources/vm.md
  docs/resources/vm_disk.md
  docs/resources/vm_inserted_media.md
  examples/data-sources/cloudavenue_iam_group/data-source.tf
  examples/data-sources/cloudavenue_iam_role/data-source.tf
  examples/data-sources/cloudavenue_vapp/data-source.tf
  examples/resources/cloudavenue_edgegateway/resource.tf
  examples/resources/cloudavenue_vapp/resource.tf
  examples/resources/cloudavenue_vapp_acl/resource.tf
  examples/resources/cloudavenue_vapp_isolated_network/resource.tf
  examples/resources/cloudavenue_vapp_org_network/resource.tf
  examples/resources/cloudavenue_vm/resource.tf
  examples/resources/cloudavenue_vm_disk/resource.tf
  go.mod
  go.sum
  internal/provider/common/vapp/vapp.go
  internal/provider/common/vdc/vdc.go
  internal/provider/common/vm/disk.go
  internal/provider/vapp/acl_resource.go
  internal/provider/vapp/common_isolated_network.go
  internal/provider/vapp/common_network.go
  internal/provider/vapp/common_org_network.go
  internal/provider/vapp/isolated_network_resource.go
  internal/provider/vapp/org_network_resource.go
  internal/provider/vapp/vapp_datasource.go
  internal/provider/vapp/vapp_resource.go
  internal/provider/vm/inserted_media_resource.go
  internal/provider/vm/vm_disk_resource.go
  internal/tests/iam/iam_group_datasource_test.go
  internal/tests/iam/iam_right_datasource_test.go
  internal/tests/vapp/acl_resource_test.go
  internal/tests/vapp/isolated_network_resource_test.go
  internal/tests/vapp/org_network_resource_test.go
  internal/tests/vapp/vapp_datasource_test.go
  internal/tests/vapp/vapp_resource_test.go
  internal/tests/vm/vm_disk_resource_test.go
  internal/tests/vm/vm_resource_test.go
Labels: size/XL, Refactor

#165 fix(edgegw): test vdc existance before create
  docs/resources/edgegateway.md
  docs/resources/vapp_org_network.md
  examples/resources/cloudavenue_edgegateway/resource.tf
  examples/resources/cloudavenue_vapp_org_network/resource.tf
  internal/provider/edgegw/edgegateway_resource.go
  internal/tests/edgegw/edgegateway_resource_test.go
  internal/tests/vapp/org_network_resource_test.go
Labels: size/L, Fix, category/edgegw

#166 refactor(network): remove diagnosticError struct and use diag.Diagnostic
  internal/provider/network/common_network.go
  internal/provider/network/routed_resource.go
Labels: Refactor, size/S, category/network

#170 style: spelling + De Morgan's laws
  internal/provider/catalog/catalog_datasource.go
  internal/provider/catalog/catalog_resource.go
  internal/provider/iam/group_datasource.go
  internal/provider/iam/group_resource.go
  internal/provider/iam/user_resource.go
  internal/provider/vapp/acl_resource.go
  internal/provider/vapp/org_network_resource.go
  internal/provider/vcda/vcda_ip_resource.go
  internal/provider/vdc/acl_resource.go
Labels: size/S, Style

#169 feat(vdc): add interface to handle vdc or vdc group
  internal/client/vmware.go
  internal/provider/common/vapp/vapp.go
  internal/provider/common/vdc/vdc.go
  internal/provider/common/vm/disk.go
  internal/provider/common/vm/internal_disk.go
  internal/provider/network/routed_resource.go
  internal/provider/vapp/org_network_resource.go
  internal/provider/vapp/vapp_resource.go
  internal/provider/vdc/acl_resource.go
  internal/provider/vm/common_vm.go
  internal/provider/vm/common_vm_create.go
  internal/provider/vm/common_vm_read.go
  internal/provider/vm/common_vm_update.go
  internal/provider/vm/vm_resource.go
Labels: Feature, size/L, category/vdc

#174 fix: storage profile error
  internal/provider/catalog/catalog_resource.go
  internal/tests/catalog/catalog_resource_test.go
Labels: size/L, Fix

#177 refactor: refactor client org/vapp/vdc
  internal/client/client.go
  internal/client/client_test.go
  internal/client/org.go
  internal/client/vapp.go
  internal/client/vdc.go
  internal/client/vmware.go
  internal/provider/catalog/catalog_datasource.go
  internal/provider/catalog/catalog_resource.go
  internal/provider/catalog/catalog_vapp_template_datasource.go
  internal/provider/catalog/catalogs_datasource.go
  internal/provider/common/org/org.go
  internal/provider/common/vapp/vapp.go
  internal/provider/common/vdc/vdc.go
  internal/provider/common/vm/disk.go
  internal/provider/common/vm/internal_disk.go
  internal/provider/edgegw/edgegateway_resource.go
  internal/provider/iam/group_datasource.go
  internal/provider/iam/group_resource.go
  internal/provider/iam/role_datasource.go
  internal/provider/iam/role_resource.go
  internal/provider/iam/user_datasource.go
  internal/provider/iam/user_resource.go
  internal/provider/network/routed_resource.go
  internal/provider/vapp/acl_resource.go
  internal/provider/vapp/isolated_network_resource.go
  internal/provider/vapp/org_network_resource.go
  internal/provider/vapp/vapp_datasource.go
  internal/provider/vapp/vapp_resource.go
  internal/provider/vdc/acl_resource.go
  internal/provider/vdc/vdc_group_datasource.go
  internal/provider/vm/common_vm.go
  internal/provider/vm/common_vm_create.go
  internal/provider/vm/common_vm_read.go
  internal/provider/vm/common_vm_update.go
  internal/provider/vm/inserted_media_resource.go
  internal/provider/vm/vm_disk_resource.go
  internal/provider/vm/vm_resource.go
Labels: size/XL, Refactor

#181 fix: bad type for errors.As check in CheckAPIError()
  internal/helpers/api_errors.go
Labels: Fix, size/S

#178 fix(network): cloudavenue_network_routed error on import
  docs/resources/network_routed.md
  examples/resources/cloudavenue_network_routed/resource.tf
  internal/provider/network/routed_resource.go
  internal/tests/network/routed_resource_test.go
Labels: size/L, Fix, category/network

#182 fix: bad return on helpers.GetJobStatus and misplaced defer func()
  internal/provider/edgegw/edgegateway_datasource.go
  internal/provider/edgegw/edgegateway_resource.go
  internal/provider/edgegw/edgegateways_datasource.go
  internal/provider/publicip/publicip_resource.go
  internal/provider/publicip/publicips_datasource.go
  internal/provider/vcda/vcda_ip_resource.go
  internal/provider/vdc/vdc_datasource.go
  internal/provider/vdc/vdc_resource.go
Labels: size/L, Fix, category/edgegw

#183 fix(vdc): acl_resource have a missing error in return
  docs/resources/vdc_acl.md
  examples/resources/cloudavenue_vdc_acl/resource.tf
  internal/provider/vdc/acl_resource.go
  internal/tests/vdc/acl_resource_test.go
Labels: Fix, size/S, category/vdc

#186 ci(setup-go): removed `cache: true` option
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/testacc.yml
Labels: CI, size/XS, category/setup-go

#168 feat(network): Add resource `cloudavenue_network_isolated`
  .gitignore
  docs/resources/network_isolated.md
  examples/resources/cloudavenue_network_isolated/import.sh
  examples/resources/cloudavenue_network_isolated/resource.tf
  internal/provider/common/vdc/vdc.go
  internal/provider/network/isolated_resource.go
  internal/provider/provider.go
  internal/tests/network/isolated_resource_test.go
  internal/tests/network/routed_resource_test.go
  templates/resources/network_isolated.md.tmpl
Labels: Feature, size/XL, Refactor, category/network

#190 chore: migrate all planmodifiers to new repo
  go.mod
  go.sum
  internal/helpers/boolpm/README.md
  internal/helpers/boolpm/base_default_func.go
  internal/helpers/boolpm/common_test.go
  internal/helpers/boolpm/default.go
  internal/helpers/boolpm/default_env_var.go
  internal/helpers/boolpm/default_env_var_test.go
  internal/helpers/boolpm/default_func.go
  internal/helpers/boolpm/default_func_test.go
  internal/helpers/boolpm/default_test.go
  internal/helpers/int64pm/README.md
  internal/helpers/int64pm/base_default_func.go
  internal/helpers/int64pm/common_test.go
  internal/helpers/int64pm/default.go
  internal/helpers/int64pm/default_env_var.go
  internal/helpers/int64pm/default_env_var_test.go
  internal/helpers/int64pm/default_func.go
  internal/helpers/int64pm/default_func_test.go
  internal/helpers/int64pm/default_test.go
  internal/helpers/stringpm/README.md
  internal/helpers/stringpm/base_default_func.go
  internal/helpers/stringpm/common_test.go
  internal/helpers/stringpm/default.go
  internal/helpers/stringpm/default_empty_string.go
  internal/helpers/stringpm/default_empty_string_test.go
  internal/helpers/stringpm/default_env_var.go
  internal/helpers/stringpm/default_env_var_test.go
  internal/helpers/stringpm/default_func.go
  internal/helpers/stringpm/default_func_test.go
  internal/helpers/stringpm/default_test.go
  internal/provider/common/vm/customization.go
  internal/provider/common/vm/diskparams/bus_type.go
  internal/provider/common/vm/network.go
  internal/provider/common/vm/resource.go
  internal/provider/iam/group_resource.go
  internal/provider/network/routed_resource.go
  internal/provider/vapp/isolated_network_resource.go
  internal/provider/vapp/org_network_resource.go
  internal/provider/vcda/vcda_ip_resource.go
  internal/provider/vm/common_vm_schema.go
  internal/provider/vm/common_vm_schema_disk.go
  internal/provider/vm/vm_resource.go
Labels: Chore, size/XL

#200 refactor: sdkResource.StateChangeConf is deprecated
  go.mod
  go.sum
  internal/provider/edgegw/edgegateway_resource.go
  internal/provider/publicip/publicip_resource.go
  internal/provider/vapp/vapp_resource.go
  internal/provider/vdc/vdc_resource.go
Labels: size/L, Refactor

#194 feat(vm): add resource `cloudavenue_vm_affinity_rule`
  docs/resources/vm_affinity_rule.md
  examples/resources/cloudavenue_vm_affinity_rule/import.sh
  examples/resources/cloudavenue_vm_affinity_rule/resource.tf
  internal/provider/common/schema/schema.go
  internal/provider/provider.go
  internal/provider/vm/vm_affinity_rule_resource.go
  internal/provider/vm/vm_affinity_rule_schema.go
  internal/tests/vm/vm_affinity_rule_resource_test.go
  templates/resources/vm_affinity_rule.md.tmpl
Labels: Feature, size/XL, category/vm

#201 feat: add StringValueOrNull function
  internal/provider/vapp/isolated_network_resource.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: Feature, size/L

#209 refactor: use superschema for the vm_affinity_rule resource
  docs/resources/vm_affinity_rule.md
  internal/provider/vm/vm_affinity_rule_schema.go
Labels: size/L, Refactor

#208 refactor: use superschema for catalog resource/datasource
  docs/data-sources/catalog.md
  docs/resources/catalog.md
  internal/provider/catalog/catalog_datasource.go
  internal/provider/catalog/catalog_resource.go
  internal/provider/catalog/catalog_schema.go
  internal/tests/catalog/catalog_datasource_test.go
  internal/tests/catalog/catalog_resource_test.go
Labels: size/L, Refactor

#212 chore: Add lock/unlock for customer API
  docs/index.md
  internal/provider/common/cloudavenue/cloudavenue.go
  internal/provider/edgegw/edgegateway_resource.go
  internal/provider/publicip/publicip_resource.go
  internal/provider/vcda/vcda_ip_resource.go
  internal/provider/vdc/vdc_resource.go
  templates/index.md.tmpl
Labels: Chore, size/M

#216 refactor(catalog): use new superschema for datasource `cloudavenue_catalogs`
  docs/data-sources/catalogs.md
  internal/provider/catalog/catalog_schema.go
  internal/provider/catalog/catalogs_datasource.go
  internal/provider/catalog/common_catalog.go
Labels: size/L, Refactor, category/catalog

#219 feat(vdc): add superschema for vdc
  internal/provider/common/vdc/vdc.go
Labels: Feature, size/S, category/vdc

#213 refactor: user and role
  docs/data-sources/iam_group.md
  docs/data-sources/iam_role.md
  docs/data-sources/iam_user.md
  docs/resources/iam_group.md
  docs/resources/iam_role.md
  docs/resources/iam_user.md
  examples/data-sources/cloudavenue_iam_user/data-source.tf
  examples/resources/cloudavenue_iam_user/resource.tf
  internal/provider/iam/group_datasource.go
  internal/provider/iam/group_resource.go
  internal/provider/iam/right_datasource.go
  internal/provider/iam/role_common.go
  internal/provider/iam/role_datasource.go
  internal/provider/iam/role_resource.go
  internal/provider/iam/role_schema.go
  internal/provider/iam/user_common.go
  internal/provider/iam/user_datasource.go
  internal/provider/iam/user_resource.go
  internal/provider/iam/user_schema.go
  internal/provider/provider.go
  internal/tests/iam/iam_group_datasource_test.go
  internal/tests/iam/iam_group_resource_test.go
  internal/tests/iam/iam_role_datasource_test.go
  internal/tests/iam/iam_role_resource_test.go
  internal/tests/iam/iam_user_datasource_test.go
  internal/tests/iam/iam_user_resource_test.go
  templates/data-sources/iam_group.md.tmpl
  templates/resources/iam_group.md.tmpl
Labels: Chore, size/XL, Refactor, Fix

#222 feat: add timeout in superschema
  internal/provider/catalog/catalog_datasource.go
  internal/provider/catalog/catalog_resource.go
  internal/provider/catalog/catalog_schema.go
  internal/provider/common/schema/attribute.go
  internal/provider/common/schema/bool_attribute.go
  internal/provider/common/schema/int64_attribute.go
  internal/provider/common/schema/list_attribute.go
  internal/provider/common/schema/list_nested_attribute.go
  internal/provider/common/schema/object_attribute.go
  internal/provider/common/schema/schema.go
  internal/provider/common/schema/set_attribute.go
  internal/provider/common/schema/set_nested_attribute.go
  internal/provider/common/schema/string_attribute.go
  internal/provider/common/schema/timeouts_attribute.go
  internal/provider/iam/role_datasource.go
  internal/provider/iam/role_resource.go
  internal/provider/iam/user_datasource.go
  internal/provider/iam/user_resource.go
  internal/provider/vm/vm_affinity_rule_resource.go
Labels: Feature, size/L

#221 refactor(catalog): refactor media and medias datasource
  docs/data-sources/catalog_media.md
  docs/data-sources/catalog_medias.md
  examples/data-sources/cloudavenue_catalog_media/data-source.tf
  examples/data-sources/cloudavenue_catalog_medias/data-source.tf
  internal/provider/catalog/base.go
  internal/provider/catalog/catalog_datasource.go
  internal/provider/catalog/catalog_vapp_template_datasource.go
  internal/provider/catalog/common_media.go
  internal/provider/catalog/media_datasource.go
  internal/provider/catalog/media_schema.go
  internal/provider/catalog/medias_datasource.go
  internal/tests/catalog/media_datasource_test.go
  internal/tests/catalog/medias_datasource_test.go
Labels: size/XL, Refactor, category/catalog

#202 feat(vm): add datasource cloudavenue_vm_affinity_rule
  docs/data-sources/vm_affinity_rule.md
  examples/data-sources/cloudavenue_vm_affinity_rule/data-source.tf
  internal/provider/provider.go
  internal/provider/vm/vm_affinity_rule_datasource.go
  internal/provider/vm/vm_affinity_rule_schema.go
  internal/tests/vm/vm_affinity_rule_datasource_test.go
  templates/data-sources/vm_affinity_rule.md.tmpl
Labels: Feature, size/L, category/vm

#223 feat(edgegw): add loadbalancer
  docs/data-sources/edgegateway.md
  docs/data-sources/edgegateways.md
  docs/resources/edgegateway.md
  examples/resources/cloudavenue_edgegateway/resource.tf
  internal/provider/common/schema/timeouts_attribute.go
  internal/provider/edgegw/edgegateway_datasource.go
  internal/provider/edgegw/edgegateway_resource.go
  internal/provider/edgegw/edgegateway_schema.go
  internal/provider/edgegw/edgegateways_datasource.go
  internal/tests/edgegw/edgegateway_datasource_test.go
  internal/tests/edgegw/edgegateway_resource_test.go
Labels: Feature, size/XL, Fix, category/edgegw

#234 chore: add common edgegw
  internal/provider/common/adminorg/admin_org.go
  internal/provider/common/adminorg/edgegw.go
  internal/provider/common/edgegw/edgegw.go
  internal/provider/common/org/edgegw.go
  internal/provider/common/org/org.go
Labels: Chore, size/L

#235 chore: vscode snippets
  .vscode/terraform.code-snippets
Labels: Chore, Fix, size/S

#240 fix: vdc superschema
  docs/data-sources/vdc.md
  internal/provider/vdc/vdc_schema.go
Labels: Fix, size/XS

#243 fix: linter gci
  .golangci.yml
  internal/provider/catalog/catalog_schema.go
  internal/provider/catalog/catalog_vapp_template_datasource.go
  internal/provider/catalog/media_schema.go
  internal/provider/common/acl/acl.go
  internal/provider/common/schema/attribute.go
  internal/provider/common/schema/bool_attribute.go
  internal/provider/common/schema/float64_attribute.go
  internal/provider/common/schema/int64_attribute.go
  internal/provider/common/schema/list_attribute.go
  internal/provider/common/schema/list_nested_attribute.go
  internal/provider/common/schema/object_attribute.go
  internal/provider/common/schema/schema.go
  internal/provider/common/schema/set_attribute.go
  internal/provider/common/schema/set_nested_attribute.go
  internal/provider/common/schema/string_attribute.go
  internal/provider/common/schema/timeouts_attribute.go
  internal/provider/common/storageprofile/storage_profile.go
  internal/provider/common/vapp/vapp.go
  internal/provider/common/vdc/vdc.go
  internal/provider/common/vm/customization.go
  internal/provider/common/vm/disk.go
  internal/provider/common/vm/diskparams/bus_number.go
  internal/provider/common/vm/diskparams/bus_type.go
  internal/provider/common/vm/diskparams/size_in_mb.go
  internal/provider/common/vm/diskparams/storage_profile.go
  internal/provider/common/vm/network.go
  internal/provider/common/vm/resource.go
  internal/provider/iam/role_resource.go
  internal/provider/iam/role_schema.go
  internal/provider/iam/user_schema.go
  internal/provider/network/isolated_resource.go
  internal/provider/network/routed_resource.go
  internal/provider/provider.go
  internal/provider/publicip/publicip_resource.go
  internal/provider/vapp/acl_resource.go
  internal/provider/vapp/isolated_network_resource.go
  internal/provider/vapp/org_network_resource.go
  internal/provider/vapp/vapp_datasource.go
  internal/provider/vapp/vapp_resource.go
  internal/provider/vcda/vcda_ip_resource.go
  internal/provider/vdc/acl_resource.go
  internal/provider/vdc/vdc_resource.go
  internal/provider/vdc/vdc_schema.go
  internal/provider/vm/common_vm_schema.go
  internal/provider/vm/common_vm_schema_disk.go
  internal/provider/vm/inserted_media_resource.go
  internal/provider/vm/vm_affinity_rule_resource.go
  internal/provider/vm/vm_affinity_rule_schema.go
  internal/provider/vrf/tier0_vrf_datasource.go
  internal/provider/vrf/tier0_vrfs_datasource.go
  internal/tests/common/acctest.go
Labels: size/L, Fix

#244 chore: optimize make generate
  GNUmakefile
  internal/provider/iam/role_resource.go
  internal/provider/vdc/acl_resource.go
  internal/tests/catalog/catalog_vapp_template_datasource_test.go
  internal/tests/catalog/media_datasource_test.go
  internal/tests/catalog/medias_datasource_test.go
  internal/tests/edgegw/edgegateway_resource_test.go
  internal/tests/iam/iam_role_resource_test.go
  internal/tests/network/isolated_resource_test.go
  internal/tests/network/routed_resource_test.go
  internal/tests/vapp/acl_resource_test.go
  internal/tests/vapp/isolated_network_resource_test.go
  internal/tests/vapp/org_network_resource_test.go
  internal/tests/vapp/vapp_resource_test.go
  internal/tests/vdc/acl_resource_test.go
  internal/tests/vdc/vdc_group_datasource_test.go
  internal/tests/vm/inserted_media_resource_test.go
  internal/tests/vm/vm_affinity_rule_datasource_test.go
  internal/tests/vm/vm_affinity_rule_resource_test.go
Labels: Chore, size/S

#245 feat: move superschema to external package
  docs/data-sources/catalog.md
  docs/data-sources/catalog_media.md
  docs/data-sources/catalog_medias.md
  docs/data-sources/catalog_vapp_template.md
  docs/data-sources/catalogs.md
  docs/data-sources/edgegateway.md
  docs/data-sources/edgegateways.md
  docs/data-sources/iam_role.md
  docs/data-sources/iam_user.md
  docs/data-sources/vdc.md
  docs/data-sources/vm_affinity_rule.md
  docs/resources/edgegateway.md
  docs/resources/iam_user.md
  docs/resources/vdc.md
  docs/resources/vm_affinity_rule.md
  go.mod
  go.sum
  internal/provider/catalog/catalog_schema.go
  internal/provider/catalog/media_schema.go
  internal/provider/common/schema/attribute.go
  internal/provider/common/schema/base.go
  internal/provider/common/schema/bool_attribute.go
  internal/provider/common/schema/float64_attribute.go
  internal/provider/common/schema/int64_attribute.go
  internal/provider/common/schema/list_attribute.go
  internal/provider/common/schema/list_nested_attribute.go
  internal/provider/common/schema/object_attribute.go
  internal/provider/common/schema/schema.go
  internal/provider/common/schema/set_attribute.go
  internal/provider/common/schema/set_nested_attribute.go
  internal/provider/common/schema/string_attribute.go
  internal/provider/common/schema/timeouts_attribute.go
  internal/provider/common/vdc/vdc.go
  internal/provider/edgegw/edgegateway_schema.go
  internal/provider/iam/role_schema.go
  internal/provider/iam/user_schema.go
  internal/provider/vdc/vdc_schema.go
  internal/provider/vm/vm_affinity_rule_schema.go
Labels: Feature, size/XL

#237 refactor(publicip): use superschema and disable publicip resource
  docs/data-sources/publicips.md
  docs/resources/publicip.md
  internal/provider/common/edgegw/edgegw.go
  internal/provider/provider.go
  internal/provider/publicip/publicip_resource.go
  internal/provider/publicip/publicip_schema.go
  internal/provider/publicip/publicips_datasource.go
  internal/tests/publicip/publicip_datasource_test.go
  templates/resources/publicip.md.tmpl
Labels: Chore, size/L, Refactor, category/publicip

#203 refactor(network): enhancement schema and optimization
  docs/resources/network_isolated.md
  docs/resources/network_routed.md
  docs/resources/vapp_isolated_network.md
  docs/resources/vapp_org_network.md
  go.mod
  go.sum
  internal/provider/common/network/common.go
  internal/provider/common/network/schema.go
  internal/provider/network/common_network.go
  internal/provider/network/isolated_resource.go
  internal/provider/network/routed_resource.go
  internal/provider/vapp/isolated_network_resource.go
  internal/provider/vapp/org_network_resource.go
Labels: Feature, Chore, size/XL, Refactor, Fix, category/network

#247 fix: vm resource
  internal/provider/vm/common_vm.go
  internal/provider/vm/common_vm_create.go
  internal/provider/vm/vm_resource.go
  internal/tests/vm/vm_resource_test.go
Labels: Fix, size/S
