Repository orange-cloudavenue/terraform-provider-cloudavenue, pull requests merged in 2023-04, with the labels that each got.

#250 docs: fix subcategories
  docs/data-sources/catalog_media.md
  docs/data-sources/catalog_medias.md
  docs/data-sources/iam_right.md
  docs/data-sources/tier0_vrf.md
  docs/data-sources/tier0_vrfs.md
  docs/resources/vm.md
  docs/resources/vm_disk.md
  templates/data-sources/tier0_vrf.md.tmpl
  templates/data-sources/tier0_vrfs.md.tmpl
  templates/resources/vm_disk.md.tmpl
Labels: size/XS, Docs

#253 docs: fix subcategories
  templates/data-sources/catalog_media.md.tmpl
  templates/data-sources/catalog_medias.md.tmpl
  templates/data-sources/iam_right.md.tmpl
  templates/resources/vm.md.tmpl
Labels: size/M, Docs

#255 docs: fix some docs
  docs/index.md
  docs/resources/vapp.md
  internal/provider/catalog/media_datasource.go
  internal/provider/provider.go
  internal/provider/vapp/vapp_resource.go
  templates/index.md.tmpl
Labels: Fix, Docs, size/S

#256 ci(changelog): fix dependabot alerts
  .ci/tools/go.mod
  .ci/tools/go.sum
Labels: CI, size/M, category/changelog

#257 ci: fix generate option
  .ci/scripts/generate-changelog.sh
Labels: CI, size/XS

#246 feat: Add `cloudavenue_alb_pool`
  .changelog/246.txt
  docs/data-sources/alb_pool.md
  docs/resources/alb_pool.md
  examples/data-sources/cloudavenue_alb_pool/data-source.tf
  examples/resources/cloudavenue_alb_pool/import.sh
  examples/resources/cloudavenue_alb_pool/resource.tf
  internal/provider/alb/base.go
  internal/provider/alb/pool_common.go
  internal/provider/alb/pool_datasource.go
  internal/provider/alb/pool_resource.go
  internal/provider/alb/pool_schema.go
  internal/provider/common/edgegw/edgegw.go
  internal/provider/provider.go
  internal/provider/vapp/isolated_network_resource.go
  internal/tests/alb/pool_datasource_test.go
  internal/tests/alb/pool_resource_test.go
  templates/data-sources/alb_pool.md.tmpl
  templates/resources/alb_pool.md.tmpl
Labels: Feature, Chore, size/XL, Fix

#248 chore(network): Add data source `cloudavenue_network_isolated`
  .changelog/248.txt
  docs/data-sources/network_isolated.md
  examples/data-sources/cloudavenue_network_isolated/data-source.tf
  internal/provider/common/network/schema.go
  internal/provider/network/common_network.go
  internal/provider/network/isolated_datasource.go
  internal/provider/network/isolated_resource.go
  internal/provider/provider.go
  internal/tests/network/isolated_datasource_test.go
  templates/data-sources/network_isolated.md.tmpl
Labels: Feature, Chore, Refactor, size/M, category/network

#259 ci: fix generate-changelog
  .ci/scripts/release-note.tmpl
  .github/workflows/dapendabot_changelog.yml
  .github/workflows/generate_changelog.yml
  CHANGELOG.md
  CONTRIBUTING.md
Labels: Chore, CI, size/M

#260 docs: fix some docs
  docs/index.md
  docs/resources/edgegateway.md
  docs/resources/network_routed.md
  docs/resources/vapp_acl.md
  docs/resources/vdc_acl.md
  docs/resources/vm.md
  examples/resources/cloudavenue_edgegateway/resource.tf
  examples/resources/cloudavenue_network_routed/resource.tf
  examples/resources/cloudavenue_vapp_acl/resource.tf
  examples/resources/cloudavenue_vdc_acl/resource.tf
  examples/resources/cloudavenue_vm/resource.tf
  internal/tests/vm/vm_resource_test.go
  templates/index.md.tmpl
Labels: size/M, Docs

#261 refactor(vdc): move cloudavenue_vdc_acl to superschema
  docs/resources/vdc_acl.md
  internal/provider/common/acl/acl.go
  internal/provider/vdc/acl_resource.go
  internal/provider/vdc/acl_schema.go
Labels: Refactor, size/M, category/vdc

#262 refactor(vapp): move cloudavenue_vapp_acl to superschema
  docs/resources/vapp_acl.md
  internal/provider/common/vapp/vapp.go
  internal/provider/vapp/acl_resource.go
  internal/provider/vapp/acl_schema.go
Labels: Refactor, size/M, category/vapp

#270 feat(vrf): add superschema + refactor
  docs/data-sources/tier0_vrf.md
  docs/data-sources/tier0_vrfs.md
  internal/provider/provider.go
  internal/provider/vrf/base.go
  internal/provider/vrf/tier0_vrf_datasource.go
  internal/provider/vrf/tier0_vrfs_datasource.go
Labels: Feature, Fix, size/M, category/vrf

#268 feat(vcda): add superschema + refactor on `vcda_ip_resource`
  internal/provider/vcda/vcda_ip_resource.go
Labels: Feature, size/S, category/vcda

#249 feat(network): add datasource `cloudavenue_network_routed`
  .changelog/249.txt
  docs/data-sources/network_routed.md
  docs/resources/network_routed.md
  examples/data-sources/cloudavenue_network_routed/data-source.tf
  internal/provider/common/network/common.go
  internal/provider/common/network/schema.go
  internal/provider/network/common_network.go
  internal/provider/network/routed_datasource.go
  internal/provider/network/routed_resource.go
  internal/provider/provider.go
  internal/tests/network/isolated_datasource_test.go
  internal/tests/network/routed_datasource_test.go
  templates/data-sources/network_routed.md.tmpl
Labels: Feature, Chore, Refactor, size/M, category/network

#273 docs: Check description of `alb` resource and datasource
  docs/data-sources/alb_pool.md
  docs/resources/alb_pool.md
  internal/provider/alb/pool_schema.go
Labels: size/XS, Docs

#277 docs: Check description of common `acl`
  docs/resources/vapp_acl.md
  docs/resources/vdc_acl.md
  internal/provider/common/acl/acl.go
Labels: size/XS, Docs

#279 docs: Check description of `edgegateway` resource and datasource
  docs/data-sources/edgegateway.md
  docs/data-sources/edgegateways.md
  docs/resources/edgegateway.md
  internal/provider/edgegw/edgegateway_schema.go
Labels: size/XS, Docs

#281 docs: Check description of `publicip` resource and datasource
  docs/data-sources/publicips.md
  internal/provider/publicip/publicips_datasource.go
Labels: size/XS, Docs

#283 docs: Check description of `vdc` resource and datasource
  docs/data-sources/vdc_group.md
  internal/provider/vdc/vdc_group_datasource.go
Labels: size/XS, Docs

#285 chore: Add AdminVDC Client and Meta Object
  internal/client/admin_vdc.go
  internal/client/vmware.go
  internal/provider/common/adminvdc/admin_vdc.go
Labels: Chore, size/M
